[submodule "vim/vundle"]
  path = vim/vundle
  url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/pure"]
  path = zsh/pure
  url = https://github.com/sindresorhus/pure.git
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/xHN35RQ/base16-shell
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
