[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = http://github.com/chriskempson/base16-shell.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = http://github.com/sindresorhus/pure.git
