extends html
extends javascript
extends css

priority -50

snippet #if "[#if]" i
[#if ${1}]
	${0}
[/#if]
endsnippet

snippet #ife "[#if]..[#else]" i
[#if ${1}]
	${2}
[#else]
	${3}
[/#if]
${0}
endsnippet

snippet #/ "[#xyz/]" i
[#${1} /]
endsnippet

snippet @/ "[#xyz/]" i
[@${1} /]
endsnippet

snippet #-- "[#-- xyz --]" i
[#-- ${1} --]
endsnippet

snippet #list "[#list xyz as xy]" i
[#list ${1} as ${2}]
	\$\{$2\}
[/#list]
endsnippet
